@use '../_mixins.scss' as m;


// Variables Globales
$primary-color: #FFEE00;
$secondary-color: #EDEDED;
$text-color: #bbbbbb;
$background-color: #2C2C2C;

//Textos Globales
h1, p, a {
    font-family: 'Segoe UI', sans-serif;
    color: $text-color;
    margin: 0px;
}

h1 {
    font-size: 20px;
    color: $secondary-color;
}


//Header
.header-container {
    @include m.flex(space-between, center);
    padding: 30px 10px 0px;
}

//Tabs
.tab-container {
    @include m.flex(space-between, center);
    padding: 1em;
}

.tab {
    cursor: pointer;
    position: relative;
    padding: 10px 0;

    &.active {
        color: $primary-color;

        &::after {
            background-color: $primary-color;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: transparent;
        border-radius: 10px;
        transition: background-color 0.3s;
    }
}

// Search
.search-container {
    @include m.flex(center, center);
    padding: 1em;
}

.search {
    padding: 10px;
    border-bottom: 2.5px solid $background-color;
    width: 100%;
}

p span:only-of-type {
    font-weight: 600;
    font-size: 17.3px;
    line-height: 20.94px;
    letter-spacing: 0%;
    color: #EDEDED;
}

// Card
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// Card Header
.row #container-card-header {
    @include m.flex(space-around, center);
    margin: 10px 20px;
}

.glass-card {
    @include m.card-glass(20px);
    padding: 2px;
    color: white;
    margin-bottom: 50px;
    max-width: 400px;
    max-height: 300px;

    &::before {
        @include m.card-glass-stroke(20px);
        padding: 1.5px;
    }
}

// Líneas Separadoras
#horizontal {
    width: 99%;
    height: 1.5px;
    border-radius: 10%;
    background-color: grey;
    border: none;
}

#vertical {
    width: 1.5px;
    height: 7.5em;
    border-radius: 10px;
    background: linear-gradient(#d9d9d9aa, #0f131527);
    border: none;
}

// Grid System
.row {
    @include m.flex(space-between, center);
}

.column {
    @include m.flex(center, stretch);
    flex-direction: column;
    margin: 1em;
}

.order-id {
    padding: 10px 0px;
    color: #bbbbbb;
    font-size: 14px;
}


// Tipografía Específica
.order-type,
.location-name {
    font-family: Avenir;
    font-weight: 800;
    font-size: 15.5px;
    color: $secondary-color;
    margin-left: 10px;;
}

.status {
    font-size: 10.7px;
    font-weight: bold;
    color: $secondary-color;
}

#circle {
    margin-right: 10px;
    background: #0C7DED;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.small-text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 7.9px;
    color: #535455;
}

// Dirección y Hora
.address {
    font-weight: 500;
    font-size: 12.6px;
    color: #909192;
}

.time {
    font-size: 12.2px;
    color: $text-color;
}

.date {
    font-size: 10.6px;
    color: #696A6B;
}

// Botones
.button-row {
    @include m.flex(end, center);
}

#buttonLeft {
    @include m.button-style(55%, 0px 30px 30px 30px, inset -4px -4px 4px 0px #C2B500);
    z-index: 1;
    margin-right: auto;
    padding: 0.5rem;
}

#buttonRight {
    @include m.button-style(35%, 30px 0px 30px 30px, inset -4px -4px 4px 0px #C2B500);
    z-index: 0;
    padding: 0.5rem;
}