@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    color: #ededed;
    background: #080c0f;
    font-family: "Segoe UI", sans-serif;
    cursor: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    all: unset
}

html,
body {
    height: 100%;
}

