/* You can add global styles to this file, and also import other style files */
body {
    color: #ededed;
    background: #080c0f;
    font-family: "Segoe UI", sans-serif;
    padding: 30px 10px 0px 10px;
    cursor: auto;
}